<!--ERROR.ESJ-->
<!--I dont think this will be much use...-->
<!--Establishing needed html code to fit in screens-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Error</title>
</head>

<!--Message Content -->
<body>
  <h1 style="align-content:center;">Error</h1>
  <!--imports the error message from the app.js: line 41-->
  <p><%= message %></p>
  <!--Reference the home page so user can go back-->
  <a href="/">Go Back</a>
</body>
</html>
