<!--Establishing needed html code to fit in screens-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Home</title>
</head>

<!--Display contents of the "Home Page,": Title, pressing a button to get the joke result page-->
<body>
  <h1>Welcome to the Joke App</h1>
  <form action="/result" method="get">
    <div style ="text-align:center">
        <button type="submit">Get a Random Joke</button>
    </div>
  </form>
</body>
</html>
